<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body class="h-full w-full dark:bg-gray-800 text-gray-900 dark:text-gray-100">
  <div class="h-full w-full overflow-hidden">
    <main class="p-4 space-x-0 space-y-3 overflow-auto">
      {{{body}}}
    </main>
  </div>
</body>

</html>